@page "/locations"
@rendermode InteractiveServer
@using Scrumptiospoc.Interfaces;
@using Scrumptiospoc.Models;
@using System.ComponentModel
@using System.Collections.ObjectModel
@inject IOrderInterface _orderservice;
@inject ILocationInterface _locationservice;
@inject IInventoryInterface _inventoryservice;
@inject IProductInterface _productservice;
@inject NavigationManager NavigationManager;

<PageTitle>Admin</PageTitle>

<h1>Hello Admin</h1>



<button class="btn btn-primary" @onclick="AddLocation">Add location</button>
<th>Locations</th>


@foreach (var location in LocationList)
{
    <p>@location.Id</p>
    <p>@location.Name</p>
    <p>@location.Address</p>
    <p>
        <button class="btn btn-primary" @onclick="()=>NavigateToInventory(location)">Inventory</button>
        <button class="btn btn-primary" @onclick="()=>NavigateToOrders(location)">Orders</button>
    </p>
    

}


@code {
    public event PropertyChangedEventHandler PropertyChanged;
    private ObservableCollection<Location> _locations = new();
    public ObservableCollection<Location> LocationList
    {
        get => _locations;
        set
        {
            if (_locations != value)
            {

                _locations = value;
                OnPropertyChanged(nameof(Locations));
                OnStateChanged();

            }
        }
    }

   
    protected override async Task OnInitializedAsync()
    {
        
        await base.OnInitializedAsync();
        _orderservice.StateChanged += OnStateChanged;        
        Location location = new Location
            {
                Address = "123 Main St",
                Longitude = 253.00,
                Latitude = 25225.555
            };   
        LocationList = _locationservice.Locations;


    } 


    public async Task AddLocation()
    {
        await _locationservice.CreateLocation();
        StateHasChanged();
    }
    private void OnStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _orderservice.StateChanged -= OnStateChanged;
    }

    protected virtual void OnPropertyChanged(string propertyName)
    {
        PropertyChanged?.Invoke(this, new PropertyChangedEventArgs(propertyName));
    }

    private void NavigateToOrders(Location loc)
    {
        _locationservice.SelectLocation(loc);
        NavigationManager.NavigateTo("/Orders");
    }

    private void NavigateToInventory(Location loc)
    {
        _locationservice.SelectLocation(loc);
        NavigationManager.NavigateTo("/Inventory");
    }

 

}
